version: "3.1"
services:
  python_bar_review:
    container_name: python_bar_review
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ..:/python_bar_review
